* {
	background-color: palegoldenrod;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
}

.paragraph1 {
	font-style: bold;
	font-weight: 40px;
	font-size: 20px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 25px;
	letter-spacing: normal;
	color: darkred;
	background-color: beige;
	padding: 25px 25px 25px 25px;
	position: relative;
	height: 200px;
	width: 900px;
	margin: 25px 25px;
}

.paragraph2 {
	font-style: bold;
	font-weight: 40px;
	font-size: 20px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 25px;
	letter-spacing: normal;
	color: darkred;
	background-color: beige;
	padding: 25px 25px 25px 25px;
	position: relative;
	height: 200px;
	width: 600px;
	margin: 25px 25px;
}

.paragraph3 {
	font-style: bold;
	font-weight: 40px;
	font-size: 20px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 25px;
	letter-spacing: normal;
	padding: 25px 25px 25px 25px;
	position: relative;
	height: 200px;
	width: 600px;
	color: darkred;
	background-color: beige;
	margin: 25px 25px;
}

.container2 {
	height: 100vh;
	width:25vw;
	flex-direction: row;
	align-items: row;
	justify-content: space-around;
}

img {
	height: fit-content;
	width: 550px;
}

.paragraph4 {
	font-style: bold;
	font-weight: 40px;
	font-size: 20px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 25px;
	letter-spacing: normal;
	padding: 25px 25px 25px 25px;
	position: relative;
	height: 400px;
	width: 500px;
	color: darkred;
	background-color: beige;
	margin: 25px 25px;
}

h1 {
	font-style: bold;
	font-style: italic;
	font-weight: 40px;
	font-size: 50px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 75px;
	letter-spacing: normal;
	height: fit-content;
	width: fit-content;
	color: darkslateblue;
	background-color: beige;
	padding: 25px 25px 25px 25px;
	position: relative;
}

title {
	display: none;
}
