* {
	background-color: palegoldenrod;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.title-container {
	display: flex;
	width: 100vw;
	height: 20vh;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.container2 {
	display: flex;
	width: 100vw;
	flex-direction: row;
	gap: 10px;
}

.paragraph1 {
	font-style: bold;
	font-weight: 40px;
	font-size: 20px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 25px;
	letter-spacing: normal;
	color: darkred;
	background-color: beige;
	padding: 25px;
	position: relative;
	height: 200px;
	width: 900px;
	margin: 25px;
	border: dashed;
	border-width: 10px;
	border-color: darkblue;
	border-spacing: 5px;
}

b {
	background-color: beige;
}

i {
	background-color: beige;
}

.paragraph2 {
	font-style: bold;
	font-weight: 40px;
	font-size: 20px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 25px;
	letter-spacing: normal;
	color: darkred;
	background-color: beige;
	padding: 25px;
	position: relative;
	height: 250px;
	width: 600px;
	margin: 25px;
	border: dashed;
	border-width: 10px;
	border-color: darkblue;
	border-spacing: 5px;
}

.paragraph3 {
	font-style: bold;
	font-weight: 40px;
	font-size: 20px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 25px;
	letter-spacing: normal;
	padding: 25px;
	position: relative;
	height: 300px;
	width: 600px;
	color: darkred;
	background-color: beige;
	margin: 25px;
	border: dashed;
	border-width: 10px;
	border-color: darkblue;
	border-spacing: 5px;
}

.container3 {
	display: flex;
	height: 100vh;
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

img {
	height: fit-content;
	width: 300px;
	border: dashed;
	border-width: 10px;
	border-color: darkred;
	border-spacing: 5px;
	padding: 20px;
	background-color: beige;
}

.paragraph4 {
	font-style: bold;
	font-weight: 40px;
	font-size: 20px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 25px;
	letter-spacing: normal;
	padding: 25px;
	position: relative;
	height: 250px;
	width: 500px;
	color: darkred;
	background-color: beige;
	margin: 25px;
	border: dashed;
	border-width: 10px;
	border-color: darkblue;
	border-spacing: 5px;
}

h1 {
	font-style: bold;
	font-style: italic;
	font-weight: 40px;
	font-size: 50px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 75px;
	letter-spacing: normal;
	padding: 25px;
	position: relative;
	height: fit-content;
	width: fit-content;
	color: darkblue;
	background-color: beige;
	margin: 25px;
	border: dashed;
	border-width: 10px;
	border-color: darkred;
	border-spacing: 5px;
}



title {
	display: none;
}
