* {
	background-color: palegoldenrod;
	display: inline-block;

}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

img {
	height: 100vh;
	width:100vw;
	position: relative;
	display: inline-block;
}

p {
	font-style: bold;
	font-weight: 40px;
	font-size: 20px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 25px;
	letter-spacing: normal;
	height: 200px;
	width: 200px;
	color: darkred;
	background-color: beige;
	padding: 25px 100px;
	position: relative;
}

b {
	font-style: bold;
	font-weight: 40px;
	font-size: 20px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 25px;
	letter-spacing: normal;
	height: fit-content;
	width: fit-content;
	color: darkred;
	background-color: beige;
	position: relative;
}

i {
	font-style: bold;
	font-weight: 40px;
	font-size: 20px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 25px;
	letter-spacing: normal;
	height: fit-content;
	width: fit-content;
	color: darkred;
	background-color: beige;
	position: relative;
}

h1 {
	font-style: bold;
	font-style: italic;
	font-weight: 40px;
	font-size: 50px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 75px;
	letter-spacing: normal;
	height: fit-content;
	width: fit-content;
	color: darkred;
	background-color: beige;
	padding: 25px 50px;
	position: fixed;
}

title {
	display: none;
}
