* {
	background-color: palegoldenrod;
}

.container {
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	align-items: cemter;
	justify-content: center;
	position: relative;
}

p {
	font-style: bold;
	font-weight: 40px;
	font-size: 50px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 75px;
	letter-spacing: normal;
	height: fit-content;
	width: fit-content;
	color: darkred;
	background-color: beige;
	padding: 25px 50px;
}

b {
	font-style: bold;
	font-weight: 40px;
	font-size: 50px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 75px;
	letter-spacing: normal;
	height: fit-content;
	width: fit-content;
	color: darkred;
	background-color: beige;
}

i {
	font-style: bold;
	font-weight: 40px;
	font-size: 50px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 75px;
	letter-spacing: normal;
	height: fit-content;
	width: fit-content;
	color: darkred;
	background-color: beige;
}

.container {
	flex-direction: row;
	height: 50vh;
	width: 100vw;
	align-items: space-evenly;
	justify-content: center;
}

h1 {
	font-style: bold;
	font-style: italic;
	font-weight: 40px;
	font-size: 50px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 75px;
	letter-spacing: normal;
	height: fit-content;
	width: fit-content;
	color: darkred;
	background-color: beige;
	padding: 25px 50px;
	position: relative;
	height:fit-content;
	width:900px;
	align-items: space-evenly;
	justify-content: center;
}

h2 {
	font-weight: 20px;
	font-size: 25px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 40px;
	letter-spacing: normal;
	height: fit-content;
	width: fit-content;
	color: darkred;
	background-color: beige;
	padding: 25px 50px;
}

ol, li {
	font-weight: 20px;
	font-size: 25px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 40px;
	letter-spacing: normal;
	height: fit-content;
	width: fit-content;
	color: darkred;
	background-color: beige;
}