* {
	background-color: palegoldenrod;
}

.container {
	height: 100vw;
	width: 100vh;
	display: flex;
	flex-direction: column;
}

.title-container {
	display: flex;
	flex-direction: row;
	height: fit-content;
	width: 100vw;
	align-items: center;
	justify-content: center;
	position: relative;
}

.container2 {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	justify-content: center;
}

.paragraph1 {
	font-style: bold;
	font-weight: 40px;
	font-size: 20px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 25px;
	letter-spacing: normal;
	color: darkred;
	background-color: beige;
	padding: 25px;
	position: relative;
	height: fit-content;
	width: 45vw;
	margin-right: 2.5vw;
	margin-left: 2.5vw;
	border: dashed;
	border-width: 10px;
	border-color: darkblue;
	border-spacing: 5px;
}

img {
	width: 45vw;
	height: fit-content;
	margin-right: 2.5vw;
	margin-left: 2.5vw;
	border: dashed;
	border-width: 10px;
	border-color: darkred;
	border-spacing: 5px;
	padding: 20px;
	background-color: beige;
	position: relative;
}

b {
	background-color: beige;
}

i {
	background-color: beige;
}

h1 {
	font-style: bold;
	font-style: italic;
	font-weight: 40px;
	font-size: 50px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 75px;
	letter-spacing: normal;
	color: darkred;
	background-color: beige;
	padding: 50px;
	position: relative;
	height:fit-content;
	width:900px;
	align-items: center;
	justify-content: center;
	border: dashed;
	border-width: 10px;
	border-color: darkblue;
	border-spacing: 5px;
}