p {
	font-style: bold;
	font-weight: 40px;
	font-size: 50px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 75px;
	letter-spacing: normal;
}

h1 {
	font-style: bold;
	font-style: italic;
	font-weight: 40px;
	font-size: 50px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 75px;
	letter-spacing: normal;
}

div {
	font-style: bold;
	font-style: italic;
	font-weight: 20px;
	font-size: 25px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 40px;
	letter-spacing: normal;
}