* {
	background-color: palegoldenrod;
}

.container1 {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.title-container {
	display: flex;
	flex-direction: column;
	height: fit-content;
	width: 50vw;
	margin-top: 20px;
}

.container2 {
	display: flex;
	flex-direction: row;
	height: 70vh;
	width: 100vw;
	justify-content: center;
}

.paragraph1 {
	font-style: bold;
	font-weight: 40px;
	font-size: 20px;
	font-family: Back Issues BB;
	text-align: left;
	text-transform: uppercase;
	line-height: 24px;
	letter-spacing: normal;
	color: darkred;
	background-color: beige;
	padding: 25px;
	height: fit-content;
	width: 30vw;
	border: solid;
	border-width: 10px;
	border-color: darkblue;
	border-spacing: 5px;
	border-radius: 25px;
}

b {
	background-color: beige;
}

i {
	background-color: beige;
}

.heading1 {
	font-style: bold;
	font-style: italic;
	font-weight: 40px;
	font-size: 50px;
	font-family: Back Issues BB;
	text-align: center;
	text-transform: uppercase;
	line-height: 60px;
	letter-spacing: normal;
	padding: 25px;
	position: relative;
	height: fit-content;
	width: fit-content;
	color: darkblue;
	background-color: beige;
	border: solid;
	border-width: 10px;
	border-color: darkred;
	border-spacing: 5px;
	border-radius: 25px;
}